/* Variables
/* ---------------------------------------------------------- */

/* Colors */
$primary-color: #3d3d3d;
$secondary-color: #333;
$accent-color: #22b3eb;
$text-color: #818181;
$highlight-color: #fff;
$post-background-color: #fff;

/* Fonts */
$font-size-base: calc(14px + 0.5vw);
$font-family-base: Calibri, 'Helvetica Neue', Helvetica, Arial, sans-serif;

/* Media queries breakpoints */
$breakpoint-phone: 420px;
$breakpoint-tablet: 768px;

/* Reset
/* ---------------------------------------------------------- */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

/*----------------------------------------------------
    Styles
----------------------------------------------------*/

body {
	background-color: $secondary-color;
	color: $text-color;
	font-size: $font-size-base;
	font-family: $font-family-base;
}

main {
    padding-bottom: 8vh;
}

a {
    color: inherit;
    text-decoration: none;
}

.btn {
	color: white;
	background-color: $secondary-color;
	display: inline-block;
	padding: 0.8vh 0.8vw;
	/*border-radius: calc(2px + 0.1vw);*/
	line-height: 1;
	vertical-align: top;
	font-size: 1em;
	font-family: $font-family-base;
	cursor: pointer;
}

button, input[type="submit"] {
	font-size: 1em;
	border: none;
}

.btn:focus {
	outline: none;
}