.post-excerpt {}

.read-more {}

.post-template .site-header {
    padding-top: 0;
}

.post-full {
    background-color: $post-background-color;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: calc(5vh + 2vw);
}

.post-content {
    padding: 3vw 5vw;
}

.post-header-background {
    position: relative;
    height: calc(15vh + 3vw);
    min-height: 150px;
}

.post-header-background.with-image {
    height: calc(15vw + 15vh);
    background-size: 100% auto;
    background-position: center center;
    background-repeat: no-repeat;
}

.post-template .site-navigation {
    position: fixed;
    top: 0;
    width: 100%;
    padding-bottom: 18px;
}

.post-full .post-title {
    position: absolute;
    bottom: 0;
    background-color: $accent-color;
    color: $highlight-color;
    width: 75%;
    padding: calc(4px + 2vw);
    font-size: 1.7em;
    font-weight: inherit;
}

.post-meta {
    color: #ccc;
    padding-left: calc(4px + 2vw);
    padding-top: calc(5px + 1vh);
}

.post-tags-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.post-full .post-tags-list li {
    display: inline-block;
    background-color: #ccc;
    line-height: 0.9;
}

.post-full .post-tags-list a {
    line-height: 1;
    color: $highlight-color;
    padding: 4px 8px;
    display: inline-block;
    font-size: 0.9em;
    font-weight: lighter;
}

.post-full .share-label {
    margin-right: 10px;
}

.post-full .share-link-wrapper {
    text-align: center;
    display: inline-block;
    padding-top: 2px;
    background-color: #dfdfdf;
    transition: background-color 0.5s;
}

.post-full .share-link {
    display: inline-block;
    font-size: 0.9em;
    width: 32px;
    height: 26px;
}

.post-full .share-link-wrapper:hover {
    background-color: $accent-color;
}

.post-full .share-link-wrapper:hover .share-link {
    color: #fff;
}

.post-full .post-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: calc(5px + 1vh) calc(4px + 1vw);
}

.post-full .post-footer > * {
    white-space: nowrap;
    margin: 1vh calc(10px + 2vw);
}

.post-comments {
    border-top: solid #ccc 2px;
    margin: 0 1vw;
}

/* Blog post content (rendered from Markdown)
------------------------------------------------------------------------*/
.post-content {
    line-height: 1.3;
}

.post-content h1, h2, h3, h4, h5, h6 {
    color: #424242;
}

.post-content h1 {
    font-size: 2em;
    margin: .67em 0;
}

.post-content h2 {
    font-size: 1.5em;
    margin: .75em 0;
}

.post-content h3 {
    font-size: 1.17em;
    margin: .83em 0;
}

.post-content h4 {
    margin: .83em 0;
}

.post-content h5 {
    font-size: 0.83 em;
    margin: .83em 0;
}

.post-content h6 {
    font-size: 0.67 em;
    margin: .83em 0;
}

.post-content a {
    color: $accent-color;
    text-decoration: underline;
}

.post-content a:hover {
    color: #5ec5d0;
}

.post-content p {
    margin: 0 0 1.5em;
}

.post-content img {
    display: block;
    max-width: 100%;
    margin: calc(5px + 3vh) auto;
}

.kg-image {}

.kg-embed-card {}

.kg-image-card {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}

.kg-image-card.kg-width-wide {
    max-width: 100%;
}

.kg-image-card.kg-width-full {
    max-width: none;
    position: relative;
    /*-5vw is the padding of the .post-content*/
    margin-left: -5vw;
    margin-right: -5vw;
}

.post-content figure {}

.post-content figcaption {
    text-align: center;
}

.kg-gallery-card {}

.kg-gallery-container {
    display: block;
    margin: 30px 0;
}

.kg-gallery-row {
    display: block;
    margin: 10px 0;
}

.kg-gallery-image {
    display: inline-block;
}

.kg-gallery-image {}

.post-content video, audio, iframe {
    max-width: 100%;
    margin-top: calc(5px + 3vh);
    margin-bottom: calc(5px + 3vh);
}

.post-content hr {
    margin: 4vw 0;
    border: 0;
    border-top: 1px solid #e3e9ed;
}

.post-content table {
    border-collapse: collapse;
    font-size: 0.9em;
    margin: calc(10px + 2vh) auto;
}

.post-content th {
    text-align: center;
    color: #fff;
    background-color: $text-color;
}

.post-content table th, td {
    border: 1px solid #ddd;
    padding: 6px 12px;
}

.post-content pre {
    overflow-x: auto;
    word-wrap: normal;
    hyphens: none;
    font-size: 0.8em;
    line-height: 1.3em;
    padding: 0 2vw 2vw 2vw;
}

.post-content code {
    font-size: 0.9em;
}

.post-content pre code {
    font-family: Consolas;
}

.post-content pre code, pre tt {
    white-space: pre;
    padding: 2vw;
}

.post-content blockquote {
    margin: 0 0 1.5em;
    padding: 0 1.5em;
    border-left: 3px solid #3eb0ef;
}

.post-content blockquote p {
    font-style: italic;
}

/* Progress bar
------------------------------------------------------------------------*/
.progress-container {
    width: 100%;
    height: 4px;
}

.progress-bar {
    height: 4px;
    background: $accent-color;
    width: 0%;
    position: absolute;
    bottom: 0;
}