.post-excerpt {}

.read-more {}

.post-template .site-header {
    padding-top: 0;
}

.post-full {
    background-color: $post-background-color;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: calc(5vh + 2vw);
}

.post-content {
    padding: 3vw 5vw;
}

.post-header-background {
    position: relative;
    height: calc(15vh + 3vw);
}

.post-header-background.with-image {
    height: calc(15vw + 15vh);
    background-size: 100% auto;
}

.post-full .post-title {
    position: absolute;
    bottom: 0;
    background-color: $accent-color;
    color: $highlight-color;
    width: 75%;
    padding: calc(4px + 2vw);
    font-size: 1.7em;
}

/*prevent author inserted images to break page layout*/
.post-content img {
    max-width: 100%;
}

/*prevent author inserted code to break page layout*/
.post-content pre {
    overflow-x: auto;
    word-wrap: normal;
    hyphens: none;
    font-size: 0.8em;
    line-height: 1.3em;
    padding: 2vw;
}

.post-content pre code, pre tt {
    white-space: pre;
    padding: 2vw;
}

.post-meta {
    color: #ccc;
    padding-left: calc(4px + 2vw);
    padding-top: calc(5px + 1vh);
}

.post-tags-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.post-full .post-tags-list li {
    display: inline-block;
    background-color: #ccc;
    line-height: 0.9;
}

.post-full .post-tags-list a {
    line-height: 1;
    color: $highlight-color;
    padding: 4px 8px;
    display: inline-block;
    font-size: 0.9em;
    font-weight: lighter;
}

.post-full .share-label {
    margin-right: 10px;
}

.post-full .share-link-wrapper {
    text-align: center;
    display: inline-block;
    padding-top: 2px;
    background-color: #dfdfdf;
    transition: background-color 0.5s;
}

.post-full .share-link {
    display: inline-block;
    font-size: 0.9em;
    width: 32px;
    height: 26px;
}

.post-full .share-link-wrapper:hover {
    background-color: $accent-color;
}

.post-full .share-link-wrapper:hover .share-link {
    color: #fff;
}

.post-full .post-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: calc(5px + 1vh) calc(4px + 1vw);
}

.post-full .post-footer > * {
    white-space: nowrap;
    margin: 1vh calc(10px + 2vw);
}

@media screen and (max-width: $breakpoint-tablet) {
	.post-full {
        width: 100%;
    }
}