
.subscribe-section {
    text-align: center;
    margin-top: 20vh;
}

.subscribe-section h1 {
    color: #ddd;
    font-size: 1.3em;
    margin-bottom: 3vh;
}

.subscribe-section-inline {
    text-align: center;
    background-color: #fff;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 2vh 0;
    margin-bottom: 2vh;
}

.subscribe-section-inline h3 {
    color: #ddd;
    font-size: 1.3em;
    margin-bottom: calc(15px + 0.5vh);
    font-weight: inherit;
}

.subscribe-form {

}

.subscribe-form .subscribe-input {
    font-size: 1em;
    padding: calc(0.2vh + 0.2vw);
    margin: 1vh 0;
}

.subscribe-btn {
    background-color: $accent-color;
}

.subscribe-form-inline {
    display: flex;
    justify-content: center;
}

.subscribe-form-inline .subscribe-input {
    font-size: 0.9em;
    margin: 0 1vw;
    padding: calc(2px + .2vw);
}

.subscribe-form-inline .subscribe-btn {
    font-size: 0.9em;
}

.subscribe-back-btn {
    margin-left: 3vw;
}

.subscribe-back-btn:hover {
    color: $highlight-color;
}

/* Floating subscribe
------------------------------------------------------------------------*/
#floating-subscribe {
    display: none;
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 15px 0;
    color: #22b3eb;
    background-color: rgba(0,0,0,.6);
    width: 200px;
    text-align: center;
    border-top-left-radius: 10px;
    border-top: 1px solid rgba(34,179,235,.2);
    border-left: 1px solid rgba(34,179,235,.2);
}

#floating-subscribe .floating-subscribe-text {
    font-style: italic;
    font-weight: bold;
}

#floating-subscribe #close-floating-message {
    font-size: 0.6em;
    float: right;
    padding-right: 10px;
}

/* Responsive
------------------------------------------------------------------------*/
@media screen and (max-width: $breakpoint-tablet) {
	.subscribe-section-inline {
        width: 100%;
    }

    #floating-subscribe {
        padding: 10px 0;
        width: 180px;
    }
}