/* Variables
/* ---------------------------------------------------------- */
/* Colors */
/* Fonts */
/* Media queries breakpoints */
/* Reset
/* ---------------------------------------------------------- */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline; }

/*----------------------------------------------------
    Styles
----------------------------------------------------*/
body {
  background-color: #333;
  color: #818181;
  font-size: calc(14px + 0.5vw);
  font-family: Calibri, "Helvetica Neue", Helvetica, Arial, sans-serif; }

main {
  padding-bottom: 8vh; }

a {
  color: inherit;
  text-decoration: none; }

.site-header {
  text-align: center; }

.site-header.with-cover {
  background-repeat: no-repeat;
  background-size: 100% auto;
  height: 35vh;
  padding-top: 6vh; }

.site-header.with-cover .site-title {
  text-shadow: 0 0 15px #3C3C3C; }

.site-header.no-cover {
  background-color: #3d3d3d;
  padding-top: 4vh; }

.blog-meta {
  margin-bottom: 4vh; }

.site-logo {
  width: calc(30px + 3vw);
  height: auto;
  border-radius: 50%; }

.site-title {
  color: #fff;
  font-size: 2em; }

.site-description {
  color: #ccc; }

.site-navigation {
  border-top: solid #494949 1px;
  padding: calc(5px + 1vh) 4vw;
  font-size: 0.9em; }

.menu-button {
  background-color: inherit;
  outline: none;
  border: none;
  cursor: pointer; }

#navigation-menu-button {
  display: none; }

.hamburger-button > div {
  width: 20px;
  height: 3px;
  background-color: #eee;
  margin: 4px 0;
  border-radius: 2px; }

#navigation-menu-button[aria-expanded="true"] + .nav {
  display: block; }

.nav {
  padding: 0;
  margin: 0; }

.nav .nav-menu-item {
  display: inline-block;
  margin: 0 1vw; }

.nav .nav-current {
  color: #22b3eb; }

.nav-link {
  line-height: 1;
  vertical-align: top;
  display: inline-block;
  -webkit-transition: color 0.4s;
  transition: color 0.4s; }

.nav-link:hover {
  color: #22b3eb; }

.post-feed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.site-footer {
  background-color: #3d3d3d;
  padding: 3vh 10vw; }

.footer-copyright {
  text-align: center;
  font-size: 0.7em;
  font-weight: lighter; }

.footer-site-title {
  color: #22b3eb; }

@media screen and (max-width: 420px) {
  #navigation-menu-button {
    display: inline-block; }
  .nav {
    display: none;
    text-align: left;
    padding: 0 2vw; }
  .nav .nav-menu-item {
    display: block;
    margin: 2vh 0; } }

.post-template .site-header {
  padding-top: 0; }

.post-full {
  background-color: #fff;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: calc(5vh + 2vw); }

.post-content {
  padding: 3vw 5vw; }

.post-header-background {
  position: relative;
  height: calc(15vh + 3vw); }

.post-header-background.with-image {
  height: calc(15vw + 15vh);
  background-size: 100% auto; }

.post-full .post-title {
  position: absolute;
  bottom: 0;
  background-color: #22b3eb;
  color: #fff;
  width: 75%;
  padding: calc(4px + 2vw);
  font-size: 1.7em; }

.post-meta {
  color: #ccc;
  padding-left: calc(4px + 2vw);
  padding-top: calc(5px + 1vh); }

.post-tags-list {
  list-style-type: none;
  padding: 0;
  margin: 0; }

.post-full .post-tags-list li {
  display: inline-block;
  background-color: #ccc;
  line-height: 0.9; }

.post-full .post-tags-list a {
  line-height: 1;
  color: #fff;
  padding: 4px 8px;
  display: inline-block;
  font-size: 0.9em;
  font-weight: lighter; }

.post-full .post-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: calc(5px + 1vh) calc(4px + 2vw); }

@media screen and (max-width: 768px) {
  .post-full {
    width: 100%; } }

.post-card {
  width: 40%;
  background-color: #fff;
  margin-top: calc(10px + 8vh); }

.post-card .post-title {
  position: absolute;
  bottom: 0;
  background-color: #22b3eb;
  color: #fff;
  width: 75%;
  padding: calc(4px + 0.5vw);
  font-size: 1.3em;
  font-weight: bold; }

.post-card-header-background {
  height: 30vh;
  min-height: 150px;
  position: relative;
  background-size: 100% auto; }

.post-card .post-excerpt {
  padding: calc(4px + 1vw); }

.post-card .published-date {
  color: #ccc;
  padding-left: calc(4px + 0.5vw);
  padding-top: 0.5vh;
  display: inline-block;
  font-size: 0.9em; }

.post-card .post-tags-list li {
  display: inline-block;
  background-color: #ccc;
  line-height: 0.9; }

.post-card .post-tags-list a {
  line-height: 1;
  color: #fff;
  padding-top: 1px;
  padding-bottom: 4px;
  padding-left: 5px;
  padding-right: 5px;
  display: inline-block;
  font-size: 0.8em;
  font-weight: lighter; }

.post-card .post-meta {
  padding: 0 1vw 2vh 1vw; }

@media screen and (max-width: 768px) {
  .post-card {
    width: 95%; } }
