/* Variables
/* ---------------------------------------------------------- */
/* Colors */
/* Fonts */
/* Media queries breakpoints */
/* Reset
/* ---------------------------------------------------------- */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/*----------------------------------------------------
    Styles
----------------------------------------------------*/
body {
  background-color: #333;
  color: #818181;
  font-size: calc(8px + 0.5vh + 0.5vw);
  font-family: Calibri, "Helvetica Neue", Helvetica, Arial, sans-serif; }

.site-header {
  text-align: center; }

.site-header.with-cover {
  background-repeat: no-repeat;
  background-size: 100% auto;
  height: 35vh;
  padding-top: 6vh; }

.site-header.with-cover .site-title {
  text-shadow: 0 0 15px #3C3C3C; }

.site-header.no-cover {
  background-color: #444;
  padding-top: 2vh; }

.site-logo {
  width: calc(30px + 3vw);
  height: auto;
  border-radius: 50%; }

.site-title {
  color: #fff;
  font-size: 2em; }

.site-description {
  color: #ccc; }
